<!-- Modal -->
<div aria-labelledby="myModalLabel" class="modal fade" id="{{i}}" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{x}}</h4>
      </div>
      <div class="modal-body">{{y}}</div>
    </div>
  </div>
</div>
